{% include 'header.html'%}

<div class="about_center">
    <div class="about_section">
      <h3> About Us </h3>
  
      <p>
        The agricultural sector is of vital importance for the region. It is undergoing a process of transition to a
        market economy, with substantial changes in the social, legal, structural, productive and supply set-ups, as
        is the case with all other sectors of the economy. These changes have been accompanied by a decline in
        agricultural production for most countries, and have affected also the national seed supply sectors of the
        region. The region has had to face problems of food insecurity and some countries have needed food aid for
        IDPs and refugees. </p>
      <p> <br>
        Due to the relatively low demographic pressure projected for the future, the presence of some favourable
        types of climates and other positive factors, including a very wide formal seed supply sector, it should be
        possible to overcome problems of food insecurity in the region as a whole, and even to use this region to
        provide food to other food-deficient regions. Opportunities must therefore be created to reach these
        results. </p>
      <p> <br>
        In order to address the main constraints affecting the development of the national and regional seed
        supplies that are mentioned here, the region requires integrated efforts by all national and international
        stakeholders and institutions involved in seed supply and plant genetic resource management. On practical
        issues, lessons learned by some countries could be shared with other countries; e.g. on how to progress with
        the transition or how to recognize the most immediate needs of farmers. Appropriate policies should also be
        established, at various levels, in order to facilitate seed investment and development in the region. </p>
  
  
    </div>
  </div>
{% include 'footer.html'%}