{% load static %}

<footer>
    <div class="footer-content">
        <h3>Farming assistant Web Services</h3>
        <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/officialrohit078" target="blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/official_ro.h.it.078/" target="blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/rkrohit06"><i class="fa-brands fa-twitter" target="blank"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCFChvhbycxbkJvgWTm-I5TA" target="blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rohit-kumar-1757a7232" target="blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
    <h2>---------------------------------------------</h2>
    <h4>© Copyrights 2022, all rights are reserved</h4>
    </div>
</footer>
    

</body>
</html>