{% include 'header.html' %}
{% load static %}

<div class="services">
    <div class="container">
        <div class="box">
            <img src="{% static 'media/Post1.webp' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>
            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
        <div class="box">
            <img src="{% static 'media/Post2.jpg' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>
            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
        <div class="box">
            <img src="{% static 'media/Post3.jpg' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>

            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
        <div class="box">
            <img src="{% static 'media/Post4.webp' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>

            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
        <div class="box">
            <img src="{% static 'media/Post5.webp' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>

            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
        <div class="box">
            <img src="{% static 'media/Post6.webp' %}" alt="post1">

            <h3> 10% Discount </h3>
            <h4> 299 ₹</h4>

            <h4> <a href="/order">Order Now</a> </h4> 
        </div>
    </div>
</div>


{% include 'footer.html' %}