{% extends 'base.html' %}
{% block content %}
<style>
    img {
        max-width: 70vh;
        display: table;
        margin: auto;
    }

    .title {
        display: table;
        margin: auto;
    }
</style>
<article>
    <figure>
        <img src="{{ post.image.url }}" class="rounded" alt="{{post.title}}">
    </figure>

    <div class="mt-3">
        <h1 class="title">{{post.title}}</h1>
        <div class="article-body">
            {{post.body|safe}}
        </div>
        <p class="text-muted">
            Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
        </p>
    </div>


</article>

<hr />

<hr />
<hr />
<h3>Add Comment</h3>
<form method="post" action="">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary">Comment</button>
</form>


{% with comments.count as total_comments %}
<h3 class="mt-5">
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h3>
{% endwith %}

{% if not post.comments.all %}
No comments yet

{% else %}
{% for comment in post.get_comments %}
{% include 'comment.html' with comment=comment %}
{% endfor %}
{% endif %}

{% endblock %}